<nav>
    <center>
        <div class='blogclass'>
            <a class="py-2 d-none d-md-inline-block" width="24" height="54" href="#" >HTML</a>
            <a class="py-2 d-none d-md-inline-block" padding-left="2cm" href="#"">CSS</a>
            <a class="py-2 d-none d-md-inline-block" href="#">JavaScript</a>
            <a class="py-2 d-none d-md-inline-block" href="#">NodeJS</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Express</a>
            <a class="py-2 d-none d-md-inline-block" href="#">MongoDB</a>
            <a class="py-2 d-none d-md-inline-block" href="#">REST API</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Angular</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Bootstrap</a>
        </div>
    </center>
</nav>